body {
	background: black;
	color: white;
}

#waveform-outer-container {
	overflow-x: auto;
}

#waveform-container {
	height: 277px;
}

#waveform-inner-container {
	position: fixed;
}

#waveform {
	background: MidnightBlue;
	top: 16px;
	position: absolute;
}

#waveform-overlay {
	position: absolute;
}
