* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	font-size: 11pt;
	margin: 8px;
}

fieldset {
	break-inside: avoid;
	line-height: 1.6;
	margin: 8px auto;
	width: 407px;
}

legend {
	font-family: fantasy;
}

#controls {
	column-fill: auto;
	column-width: 407px;
	display: none;
	column-gap: 2vw;
	margin-left: 2vw;
	margin-right: 2vw;
	min-height: calc(100vh - 16px);
}

#input-device select {
	width: 345px;
}

.flip-x {
	transform: scaleX(-1);
}

.hidden {
	display: none;
}
